@font-face {
    font-family: GenYoMin;
    src: url("GenYoMin/GenYoMinTW-EL.ttf");
    font-weight: 250;
}

@font-face {
    font-family: GenYoMin;
    src: url("GenYoMin/GenYoMinTW-L.ttf");
    font-weight: 300;
}

@font-face {
    font-family: GenYoMin;
    src: url("GenYoMin/GenYoMinTW-R.ttf");
    font-weight: 400;
}

@font-face {
    font-family: GenYoMin;
    src: url("GenYoMin/GenYoMinTW-M.ttf");
    font-weight: 500;
}

@font-face {
    font-family: GenYoMin;
    src: url("GenYoMin/GenYoMinTW-SB.ttf");
    font-weight: 600;
}

@font-face {
    font-family: GenYoMin;
    src: url("GenYoMin/GenYoMinTW-B.ttf");
    font-weight: 700;
}

@font-face {
    font-family: GenYoMin;
    src: url("GenYoMin/GenYoMinTW-H.ttf");
    font-weight: 900;
}
